body > div{
    width: 1000px;
    margin-left: calc( (100% - 1000px) /2);
    background-color: #EBEFF6;
}
    body>div>img{
        display: block;
        float: right;
        margin:0;
        margin-right: 70px;
    }
    main{
        display: inline-block;
        width: 920px;
        background-color: #748EA8;
        margin-left: 0;
        text-align: center;
        image-orientation: center;
    }
        header{
            width: 900px;
            height: 50px;
            margin-top: 10px;
            margin-right: 10px;
            margin-left: 10px;
        }
            header > i{
                float:left;
                padding: 5px;
                font-size: 30px;
        }
             i:nth-of-type(1){
                 float:left;
                 margin-right: 750px;

             }
        main > img{
            display: inline-block;
            width: 65%;
            margin-top: 50px;
        }
        h1{
            display: inline-block;
            font-size: 60px;
            font-family: 'Love Ya Like A Sister', cursive;
            margin: 0;
            text-transform: uppercase;
            margin: 0;
            margin-top: 30px;
        }
        p{  display: inline-block;
            font-size: 21px;
            display: block;
            font-family: font-family: 'ZCOOL XiaoWei', serif;
            margin: 0;
            margin-bottom: 120px;
        }
    img:nth-of-type(4){
        display: inline-block;
        float:right;
        width: 20px;
    }
    body>div>div{
        display:block;
    }
    body>div>div>*{
        display: inline-block;
        float: left;
    }
    body>div>div>img:nth-of-type(1){
        margin-top: 340px;
    }
    body>div>div>img:nth-of-type(2){
        margin-top: 50px;
    }
    i,h1,p{
        color:white;
    }